---
version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "1.0.x"
    groups:
      dependencies:
        patterns:
          - "*"